<div class="w-100 float-left new_menu">
    <div class="container inner_cont_padding">
        <nav class="navbar  navbar-dark p-0 ">
            <a class="navbar-brand p-0" [routerLink]="'/home'"><img src="assets/images/logo.png" alt="" class="logo"></a>
            <div class="search_main d-none d-lg-inline-block" style="width:362px">
                <form class="text-center">
                    <input type="text" name="search" [value]="searchKey" [(ngModel)]="searchKey" class="emailsub" placeholder="search colleges/courses"
                        style="max-width: 300px;">
                    <button type="click" class="btnsubs" (click)="searchCollege()">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <a href="#" class="d-none d-xl-inline-block ml-auto 
text-white"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome user@getmyadmission.com</a>
            <button class="navbar-toggler d-inline-block d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-2 p-3" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="'about-us'">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'colleges'">Colleges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'contact-us'">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'on-construction'">Download App</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>
<br>
<br>
<br>
<br>
<p class="text-center">
<br>
<img src="assets/images/appunder_construction.jpg" alt=""/>
</p>
<div  class="container about-content-4"></div>
<div  class="about-section-3" style="background-image: url(assets/images/team-success-1.jpg);">
    <div  class="about-section-blue">
        <div  class="container">
        <h2 >Catch them Young</h2>
        <p >As we feed with supplementary diet to mal-nutricious children; we choose aspiring students from 8th standard and coach them on regular intervals, to equip them as the best candidates.</p></div></div></div><div  class="about-content-4"><div  class="container text-center"><h2 >Our Source of Inspiration</h2><p >A rare specimen among visionaries with outstanding fore-sight in the upcoming trend of education, <span >Mr. Salim C.K</span>., our young enterprising managing director is our motivation. He is the chairman of <span >Empower Educational Trust</span>, managing director of <span >Aazam Academy (Retail Sales &amp; Marketing)</span>, as also the Managing Director of Millionaires Education Pvt.Ltd.
        </p>
    </div>
</div>
<section class="w-100 float-left bg-2 py-5" style="border-bottom: 4px solid red">&nbsp
		
	</section>
