<!-- <header class=" w-100 float-left bg1 py-2">
    <div class="container">
        <div class="contact float-left">
            <div class="num_con">
                <div class="contact_icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <a href="#">+91 234567894, 964836235</a>
            </div>
            <div class="mail_con">
                <div class="contact_icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <a href="#">info@getmyadmission.com</a>
            </div>
        </div>
        <div class="nav_bar float-right d-none d-lg-block">
            <ul class="d-flex">
                <li><a [routerLink]="'about-us'">About Us</a></li>
                <li><a [routerLink]="'colleges'">Collages</a></li>
                <li><a [routerLink]="'contact-us'">Contact Us</a></li>
                <li><a class="nav_barlast" href="#">Download App</a></li>
            </ul>
        </div>
    </div>
</header> -->




<header class=" w-100 float-left">
		<div class="top-header">
			<div class="container">
				<div class="contact float-left">
					<div class="num_con">
						<div class="contact_icon">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<a href="#">+91-984-7777-622, 984-7777-522
</a>
					</div>
					<div class="mail_con">
						<div class="contact_icon">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<a href="#" class="mail-head">info@getmyadmission.com</a>
					</div>
				</div>
				<div class="nav_bar float-right d-none d-lg-block">
					<ul class="d-flex">
						<li><a [routerLink]="'about-us'" class="bl-0">About Us</a></li>
						<li><a [routerLink]="'colleges'">Colleges</a></li>
						<li><a class="nav_barlast" [routerLink]="'on-construction'">Download App</a></li>
					</ul>
				</div>
			</div>

		</div>	
	</header>