<div class="w-100 float-left menu">
    <div class="container">
        <nav class="navbar  navbar-dark p-0 ">
            <a class="navbar-brand p-0" href="#"><img src="assets/images/logo.jpg" alt="" class="logo"></a>
            <div class="search_main d-none d-lg-inline-block">
                <form class="text-center">
                    <input type="text" name="email" value="" class="emailsub" placeholder="Enter E-mail Address" style="    max-width: 300px;">
                    <button type="submit" class="btnsubs">
			    <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</button>
                </form>
            </div>
            <a href="#" class="d-none d-xl-inline-block ml-auto 
  text-white"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  Welcome user@getmyadmission.com</a>
            <button class="navbar-toggler d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse bg-2 p-3" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">



                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Collages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Download App</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>
<section class="w-100 float-left mt-5 pt-5">
    <div class="container about-content-1">
        <div class="row">
            <div class="col-md-6">
                <h2>About us</h2>
                <p>We are pioneers in Educational Consultancy, having stamped 15 years of commendable services offering:</p>
                <ul class="about-list">
                    <li>Career Guidance</li>
                    <li>Admission to various professional courses in all leading institutions through our online aptitude tests</li>
                    <li>Pre-and-Post admission counselling</li>
                    <li>In-housing training for employability enhancement, etc</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img style="max-width: 100%;" src="assets/images/Capture.PNG" />
            </div>
        </div>
    </div>

    <div class="about-content-2">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <img style="max-width: 100%;" src="assets/images/vision.png" />
                </div>
                <div class="col-md-6">
                    <h2>Our Vision</h2>
                    <p>The educational scenario has changed significantly. There are no takers today for what is thrown-up. The studentry have own ideas, convictions, desires and demands as to what they want. And the options are aplenty. Could we ever imagine
                        that course like Nano-technology, Polymer Technology, Bio-technology and tissue culture would emerge as the most demanding form of education?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container about-content-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>A changed world order is ushering in. To bring this change in and to lead our youngsters towards the fore-front of all nations is our mission, our motto. India has soon to govern the whole world because 57% of the world youth population
                    below the age group of 40 hail from India.</p>
            </div>
            <div class="col-md-6">
                <img style="max-width: 100%;" src="assets/images/mission.png" />
            </div>
        </div>
    </div>
    <div class="about-section-3" [ngStyle]="{'background-image': 'url(assets/images/bgnext.jpg)'}">
        <div class="about-section-blue">
            <div class="container">
                <h2>Catch them Young</h2>
                <p>As we feed with supplementary diet to mal-nutricious children; we choose aspiring students from 8th standard and coach them on regular intervals, to equip them as the best candidates.</p>
            </div>
        </div>
    </div>
    <div class="about-content-4">
        <div class="container text-center">
            <h2>Our Source of Inspiration</h2>
            <p>A rare specimen among visionaries with outstanding fore-sight in the upcoming trend of education, <span>Mr. Salim C.K</span>., our young enterprising managing director is our motivation. He is the chairman of <span>Empower Educational Trust</span>,
                managing director of <span>Aazam Academy (Retail Sales & Marketing)</span>, as also the Managing Director of Millionaires Education Pvt.Ltd.</p>
        </div>
    </div>

</section>
<section class="w-100 float-left bg-2 py-5" style="border-bottom: 4px solid red">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-l-5 mb-3 mb-md-0">
                <ul class="footerlistmain m-0 p-0">
                    <li>
                        <h5>TOP COLLAGES</h5>
                    </li>
                    <li><a href="#">M.B.A</a></li>
                    <li><a href="#">B.TECH/B.E</a></li>
                    <li><a href="#">MCA</a></li>
                    <li><a href="#">BCA</a></li>
                    <li><a href="#">B.TECH</a></li>
                    <li><a href="#">MA</a></li>
                    <li><a href="#">BA</a></li>

                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-l-5 mb-3 mb-md-0">
                <ul class="footerlistmain m-0 p-0">
                    <li>
                        <h5>TOP UNIVERSITIES</h5>
                    </li>
                    <li><a href="#">ENGINEERING</a></li>
                    <li><a href="#">MANAGEMENT</a></li>
                    <li><a href="#">MEDICAL</a></li>
                    <li><a href="#">LAW</a></li>
                    <li><a href="#">COMMERCE</a></li>
                    <li><a href="#">SCIENCE</a></li>
                    <li><a href="#">ARTS</a></li>

                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-l-5 mb-3 mb-md-0">
                <ul class="footerlistmain m-0 p-0">
                    <li>
                        <h5>TOP EXAM</h5>
                    </li>
                    <li><a href="#">CAT</a></li>
                    <li><a href="#">GATE</a></li>
                    <li><a href="#">IIT-JEE</a></li>
                    <li><a href="#">AIPMT</a></li>
                    <li><a href="#">XAT</a></li>
                    <li><a href="#">CLAT</a></li>
                    <li><a href="#">MAT</a></li>



                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-l-5 mb-3 mb-md-0">
                <ul class="footerlistmain m-0 p-0">
                    <li>
                        <h5>STUDY ABROAD</h5>
                    </li>
                    <li><a href="#">CANADA</a></li>
                    <li><a href="#">USA</a></li>
                    <li><a href="#">UK</a></li>
                    <li><a href="#">AUSTRALIA</a></li>
                    <li><a href="#">GERMANY</a></li>
                    <li><a href="#">SWEDEN</a></li>




                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-l-5 mb-3 mb-md-0">
                <ul class="footerlistmain m-0 p-0">
                    <li>
                        <h5>OTHER LINKS</h5>
                    </li>
                    <li><a href="#">ABOUT COLLAGEDUNIA</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">ADVERTISING</a></li>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">PRIVACY</a></li>
                    <li><a href="#">TERMS & CONDITION</a></li>



                </ul>
            </div>
        </div>

    </div>
</section>